body {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    margin: 0;
}

h2 {
    padding-top: 2em;
}

.content {
    grid-column: 1 / 4;
    font-size: 20px;
    width: 40em;
    text-align: center;
    height: 100%;
    padding: 100px;
    border-top: 1px solid;
    z-index: -1;
    background: linear-gradient(180deg, rgba(100,0,200,0.1) 0%, rgba(207,182,231,0) 10%);
}

.photo {
    border-radius: 50%;
    width: 250px;
    padding: 2em;
}

.menu-item {
    font-family: Verdana, Times, serif;
    font-size: 38px;
    font-weight: normal;
    padding: 1em;
    color: black;
    text-decoration: none;
}

.menu-item.active,
.menu-item:hover {
    color: grey;
    text-decoration: revert;
}

.circle-dec {
    color: #502285;
    vertical-align: super;
}

table {
    margin: 0 auto;
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr td:first-child {
    font-weight: bold;
}
