/* palette:
 * red-contrast: E63946
 * basic-white: F1FAEE
 * middle-blue: A8DADC
 * main-blue: 457B9D
 * dark-blue: 1D3557
 */


body {
    font-size: 16px;
    margin: 0;
    margin-bottom: 60px;
}

.top-panel {
    padding-bottom: 34px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    width: 100%;
}

.top-panel-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}

.logo {
    flex: 0 0 15%;
}

.menu {
    display: inline-block;
    align-self: center;
}

.menu a {
    padding: 7px 25px 8px;
    margin: 10px;
    position: relative;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    display: block;
    letter-spacing: 4.2px;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.menu a:hover,
.menu a.active {
    color: #457B9D;
    border-color: #A8DADC;
}

.wide-panel {
    background: linear-gradient(137deg, rgba(69,123,157,1) 0%, rgba(29,53,87,1) 50%);
}

.wide-panel-grey {
    background: linear-gradient(137deg, rgba(233,233,233,0.3) 0%, rgba(200,200,200,0.3) 50%);
}

.wide-panel-light-grey {
    background: linear-gradient(137deg, rgba(233,233,233,0.9) 0%, rgba(200,200,200,0.0) 50%);
}

.wide-panel-light-grey h3,
.wide-panel-grey h3 {
    color: #1D3557;
}

h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.2;
}

.title {
    color: #F1FAEE;
    padding-right: 75px;
}

.main-panel {
    display: flex;
    justify-content: space-between;
}

.overview {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.photo {
    max-width: 20vw;
    max-height: 20vw;
    border-radius: 50%;
    align-self: flex-end;
    padding: 20px;
    position: relative;
    top: 120px;
}

.overview-actions {
    padding: 20px 0 60px 0;
}

.overview-actions a {
    border-color: #F1FAEE;
    padding: 13px 39px;
    margin-right: 31px;
    transition: all 0.5s;
    height: 62px;
    border: 6px solid;
    border-radius: 35px;
    font-size: 18px;
    color: #F1FAEE;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.overview-actions a:hover {
    background: #A8DADC;
    border-color: #A8DADC;
}

h3 {
    padding-top: 60px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 501;
}

.intro {
    width: 65%;
    line-height: 1.9;
}

.inside-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px 40px 80px;
}

th {
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
}

th:first-child,
td:first-child {
    border-right: 1px solid #ddd;
}

th,
td {
    padding: 15px;
    text-align: center;
}

.check {
    color: green;
    font-size: 25px;
}

.cross {
    color: red;
    font-size: 25px;
}

.includes {
    display: flex;
}

.includes div:first-child {
    max-width: 45%;
}

.service-panel {
    margin-bottom: 70px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boxes > li {
    border: 5px solid;
    margin: 1.6% 2.15% 2.6%;
    padding: 2.45% 3.6% 2.8% 3.6%;
    border-radius: 35px;
    line-height: 1.88;
    display: inline-block;
    align-self: flex-start;
}

.boxes > li h4 {
    margin-bottom: 19px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.boxes > li:nth-child(1) {
    border-color: #AFADC6;
}

.boxes > li:nth-child(1) h4 {
    color: #3D3C47;
}

.boxes > li:nth-child(2) {
    border-color: #F4EBD9;
}

.boxes > li:nth-child(2) h4 {
    color: #6C6661;
}
.boxes > li:nth-child(3) {
    border-color: #A8A894;
}

.boxes > li:nth-child(3) h4 {
    color: #432E36;
}
.boxes > li:nth-child(4) {
    border-color: #BC9D90;
}

.boxes > li:nth-child(4) h4 {
    color: #463F3A;
}

mark {
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    color: #1D3557;
    background: none;
}

.full-photo {
    position: absolute;
    right: 0;
    height: 732px;
    z-index: -1;
}

.ubermich {
    height: 400px;
}

.shrunk {
    padding: 0;
}

.small-panel {
    margin-bottom: 30px;
    height: 268px;
}

.kosten td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.kosten tr:nth-child(3) {
    background-color: #f5f5f5;
}

.note {
    padding-left: 25px;
}

.white-text {
    color: #F1FAEE;
}

.kontakt li {
    display: block;
    padding: 10px;
}

/* Different screen sizes */

@media screen and (min-width: 992px) {
    /* TODO mobile mode */
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .boxes > li {
        min-width: 60%;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }

    .menu a {
        margin: 10px;
    }

    .boxes > li {
        min-width: unset;
    }

    .boxes > li:nth-child(1) {
        margin-left: 100px;
        margin-top: 40px;
    }

    .boxes > li:nth-child(4) {
        margin-top: -125px;
    }
}
