body {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(227,210,237,0.5) 0%, rgba(207,182,231,0.7) 50%, rgba(190,169,208,0.3) 100%);
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    margin: 0;
}

.content {
    grid-column: 1 / 4;
    font-size: 20px;
    width: 40em;
    text-align: center;
    height: 100%;
}

.photo {
    border-radius: 50%;
    width: 250px;
    padding: 2em;
}

.menu-item {
    font-family: Verdana, Times, serif;
    font-size: 40px;
    font-weight: normal;
    padding: 1em;
    color: black;
    text-decoration: none;
}

.menu-item.active,
.menu-item:hover {
    color: grey;
    text-decoration: revert;
}

.circle-dec {
    color: #502285;
    vertical-align: super;
}
